**/__pycache__
**/.classpath
**/.dockerignore
**/.DS_Store
**/.editorconfig
**/.env
**/.git
**/.github
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.venv
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.example
**/*.jfm
**/*.py#
**/*.py~
**/*.pyc
**/*test.*
**/azds.yaml
**/bin
**/charts
**/compose*
**/csv
**/django
**/docker-compose*
**/Dockerfile*
**/heroku.yml
**/img
**/node_modules
**/npm-debug.log
**/obj
**/pre-commit-config.yaml
**/Procfile
**/README.md
**/runtime.txt
**/secrets.dev.yaml
**/terraform
**/values.dev.yaml
